<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav mode="side" opened id="sidenav">
			<form [formGroup]="categoriesForm">
				<div id="sidenav-cat">
					<h3>Filter by Categories</h3>
				</div>
				<div *ngFor="let data of categories" class="pretty p-icon p-smooth">
					<input type="checkbox" (change)="onChange(data.id, $event.target.checked)">
					<div class="state p-success">
						<i class="icon fa fa-check"></i>
						<label>{{data.name}}</label>
					</div>
				</div>
			</form>
	</mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<mat-progress-spinner *ngIf="loading"
			class="example-margin"
			color="primary"
			mode="indeterminate">
		</mat-progress-spinner>
		<mat-card class="product-card" *ngFor="let product of products">
			<mat-grid-list cols="6" rowHeight="100px">
				<mat-grid-tile [colspan]="1" [rowspan]="2">
					<img mat-card-image class="product-image" src="{{product.image}}" alt="product image">
				</mat-grid-tile>
				<mat-grid-tile class="product-desc-wrapper" [colspan]="3" [rowspan]="2">
					<mat-card-content>
						<p>
							<span class="product-headers">{{product.title}}</span>
						</p>
						<div class="product-desc">
						<p>
							<span class="product-headers">Description:</span> {{product.description}}
						</p>
					</div>
					</mat-card-content>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="2">
					<mat-card-content>
						<p>
							<span class="product-headers">Quantity:</span> {{product.stock}}
						</p>
						<p>
							<span class="product-headers">Price:</span> {{product.price}} $
						</p>
						<p>
							<span class="product-headers">Category: </span> {{product.Categories[0].name}}
						</p>
						<p>
							<button mat-raised-button color="primary" [routerLink]="['../','product',product.id]">View Product</button>
						</p>
					</mat-card-content>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card>

		<mat-card class="product-card" *ngIf="noProducts">
				<mat-grid-list cols="6" rowHeight="100px">
					<mat-grid-tile class="product-desc-wrapper" [colspan]="6" [rowspan]="2">
						<mat-card-content>
								<h3>No products</h3>
						</mat-card-content>
					</mat-grid-tile>
				</mat-grid-list>
			</mat-card>
	</mat-sidenav-content>
</mat-sidenav-container>