<mat-sidenav-container class="sidenav-container">
	<mat-sidenav-content class="sidenav-content">
		<mat-progress-spinner *ngIf="loading" class="example-margin" color="primary" mode="indeterminate">
		</mat-progress-spinner>
		<div *ngIf="products && products.length>0"></div>
		<mat-card class="product-card" *ngFor="let product of products">
			<span (click)="deleteProduct(product.id)"><i class="fa fa-times" aria-hidden="true"></i></span>
			<mat-grid-list cols="6" rowHeight="100px">
				<mat-grid-tile [colspan]="1" [rowspan]="2">
					<img mat-card-image class="product-image" src="{{product.image}}" alt="product image">
				</mat-grid-tile>
				<mat-grid-tile class="product-desc-wrapper" [colspan]="3" [rowspan]="2">
					<mat-card-content>
						<p>
							<span class="product-headers">{{product.title}}</span>
						</p>
						<div class="product-desc">
							<p>
								<span class="product-headers">Description:</span> {{product.description}}
							</p>
						</div>
					</mat-card-content>
				</mat-grid-tile>
				<mat-grid-tile [colspan]="2" [rowspan]="2">
					<mat-card-content>
						<p>
							<mat-form-field>
								<mat-label>Quantity</mat-label>
								<mat-select [(value)]="product.quantitySelected" (selectionChange)="selectedQuantityChanged(product.id, $event)">
									<mat-option *ngFor="let i of Arr(product.stock).fill(1); let j = index" [value]="j+1">{{j+1}}</mat-option>
								</mat-select>
							</mat-form-field>
						</p>
						<p>
							<span class="product-headers">Price:</span> {{product.price}} $
						</p>
						<p>
							<span class="product-headers">Category: </span> {{product.Categories[0].name}}
						</p>
					</mat-card-content>
				</mat-grid-tile>
			</mat-grid-list>
		</mat-card>

		<mat-card class="product-card">
			<mat-grid-list cols="6" rowHeight="100px" *ngIf="!products || products.length==0">
				<mat-grid-tile class="product-desc-wrapper" [colspan]="6" [rowspan]="2">
					<mat-card-content>
						<h3>No products</h3>
					</mat-card-content>
				</mat-grid-tile>
			</mat-grid-list>
			<mat-grid-list cols="6" class="totalCart">
				<p>Total Items: {{totalItems}}</p>
				<p>Total Cart: {{totalCost}} $</p>
				<button mat-raised-button color="primary" type="button" id="productPageRtn"
					[routerLink]="['../','all']">Return to Products List Page</button>
				<button mat-raised-button color="primary" type="button" [disabled]="products.length==0" (click)="purchaseProducts()">Purchase</button>
			</mat-grid-list>
		</mat-card>
	</mat-sidenav-content>
</mat-sidenav-container>