#loginFormWrapper{
    text-align: center;
    #loginForm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .loginField{
            width: 20em;
        }
        #loginSubmit{
            border: 1px solid #3f51b5;
        }
        .controlMessage{
            margin-bottom: 1em;
        }
    }
}