<div class="landingWrapper">
	<mat-toolbar color='primary'>
		<mat-toolbar-row>
		<div id="homeTxt">
			<a id="homebtn" mat-flat-button color="primary" [routerLink]="homeRoute">Home</a>
		</div>
		<div class="btnWrapper">
			<button *ngIf="!currentUser" id="loginbtn" mat-flat-button color="primary" [routerLink]="loginRoute">Login</button>
			<button *ngIf="!currentUser" id="registerbtn" mat-flat-button color="primary" [routerLink]="registerRoute">Register</button>
			<button *ngIf="currentUser" id="registerbtn" mat-flat-button color="primary" (click)="logout()">Logout</button>
			<button *ngIf="admin" id="registerbtn" mat-flat-button color="primary" [routerLink]="getAllUsersforAdmin">All Users</button>
		</div>
		</mat-toolbar-row>
	</mat-toolbar>
</div>