.landingWrapper{
    #homeTxt{
        width: 100%;
        #homebtn{
            font-size: 1em;
        }
    }
    .btnWrapper{
        #loginbtn, #registerbtn{
            border: 1px solid white;
            margin-right: 1em;
        }
    }
}
