<div class="landingWrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div id="homeTxt">
        <a id="homebtn" mat-flat-button color="primary" [routerLink]="homeRoute">Home</a>
      </div>
      <div *ngIf="currentUser">
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </div>
      <div class="btnWrapper">
        <button *ngIf="!currentUser" id="loginbtn" mat-flat-button color="primary" [routerLink]="loginRoute">
          Login
        </button>
        <button *ngIf="!currentUser" id="registerbtn" mat-flat-button color="primary" [routerLink]="registerRoute">
          Register
        </button>
        <button *ngIf="currentUser" id="registerbtn" mat-flat-button color="primary" (click)="logout()">
          Logout
        </button>
        <button *ngIf="admin" id="registerbtn" mat-flat-button color="primary" [routerLink]="getAllUsersforAdmin">
          All Users
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
