/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~pretty-checkbox/src/pretty-checkbox.scss';

head, body{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;
}
.mat-simple-snackbar{
    justify-content: center !important;
}