.sidenav-container{
    padding: 1em;
	.sidenav-content{
        .order-card{
            margin: 4em;
            .order-headers{
                font-weight: bold;
                margin-right: 1em;
            }
            .product-card {
                margin: 1em;
                .product-image{
                    max-width: 150px;
                }
                .product-desc-wrapper{
                    margin: 1em;
                    .product-desc{
                        text-overflow: ellipsis;
                    }
                }
                .product-headers {
                    font-weight: bold;
                    margin-right: 1em;
                }
            }
        }
	}
}
